.font-face {
  &-geb {
    font-family: "GeometriaExtraBold";
    font-weight: bold;
  }

  &-gb {
  font-family: "GeometriaBold";
  font-weight: 500;
  }

  &-gl {
  font-family: "GeometriaLight";
  font-weight: normal;
  }
}
