@font-face {
  font-family: "GeometriaBold";
  src: local("GeometriaBold"), url("./fonts/Geometria/Geometria-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GeometriaExtraBold";
  src: local("GeometriaExtraBold"), url("./fonts/Geometria/Geometria-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "GeometriaLight";
  src: local("GeometriaLight"), url("./fonts/Geometria/Geometria-Light.ttf") format("truetype");
}
